* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'VT323', monospace;
  height: 100%;
  background-color: #333333;
  color: white;
}

body {
  height: 100%;
}

main {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3.25rem;
  font-weight: 500;
  text-align: center;
  margin: 10px 0 15px 0;
}

@media (max-width: 620px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  margin-top: 20px;
}

#mFooter {
  margin-top: 25px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.15em;
}

#copyright {
  font-family: sans-serif;
}

#maze-control {
  margin: 15px 0;
}

#pause {
  margin: 0 15px;
}

#maze-control button {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #3a3a3a;
  box-shadow: 0 10px #191919;
  border: 2.5px solid white;
}

#maze-control button:active {
  box-shadow: 0 2px #191919;
}
#cell-control button {
  transition: all 0s ease-out;
  font-family: 'VT323', monospace;
  font-size: 1.5em;
  display: block;
  margin: 15px 0;
  height: 35px;
  width: 75px;
  border-radius: 0 0 5px 5px;
  text-align: center;
  text-decoration: none;
  background-color: #ba2a49;
  box-shadow: 0 6px #771b2f;
}

#cell-control button:active {
  box-shadow: 0 2px #771b2f;
}

.btn { 
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
  position: relative;
}

button.btn:active {
  top: 3px;
}