* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'VT323', monospace;
    height: 100%;
    background-color: #333333;
}

body {
    height: 100%;
}

main {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3.25rem;
    font-weight: 500;
    text-align: center;
    color: #FFF;
    margin: 25px 0;
}

#maze-form label {
    color: white;
}

#start:hover {
    background-color: #6cc98d;
}

#pause:hover {
    background-color: #f9f06d;
}

#reset:hover {
    background-color: #db3d3d;
}

#maze-form button {
    border: 2px solid white;
    background-color: transparent;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    cursor: pointer;
}
